Django==5.1
django-tenants==3.10.1
djangorestframework==3.15.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9 
django-autoslug==1.9.9
django-cors-headers==4.7.0
pillow==11.2.1
reportlab==4.4.0
djangorestframework-simplejwt==5.5.0
openpyxl==3.1.5
weasyprint==66.0 
WooCommerce==3.0.0
gunicorn==22.0.0 
dj-database-url==2.2.0 
whitenoise==6.7.0
xhtml2pdf==0.2.17
celery==5.3.6
redis==5.0.4
drf-spectacular==0.28.0
psutil==5.9.8
pandas>=2.0.0
django-filter==25.1
stripe==15.6.1
requests==2.34.2
