@page {
    size: 80mm auto; /* Ancho 80mm, altura automática */
    margin: 3mm;
}

body {
    font-size: 9pt; /* Tamaño de fuente estándar */
}

.descuento-linea {
    font-size: 8pt;
}

.total-final {
    font-size: 11pt;
}
